*.sw
_putchar.c
0x02-functions_nested_loops/1-main.c
0x02-functions_nested_loops/2-main.c
0x02-functions_nested_loops/3-main.c
0x02-functions_nested_loops/4-main.c
0x02-functions_nested_loops/5-main.c
0x02-functions_nested_loops/6-main.c
0x02-functions_nested_loops/7-main.c
0x02-functions_nested_loops/8-main.c
0x02-functions_nested_loops/9-main.c
0x02-functions_nested_loops/10-main.c
0x02-functions_nested_loops/11-main.c
0x03-debugging/2-main
0x03-debugging/2-main.c
0x03-debugging/3-convert_day.c
0x03-debugging/3-main_a
0x03-debugging/3-main_a.c
0x03-debugging/3-main_b
0x03-debugging/3-main_b.c
0x04-more_functions_nested_loops/0-main.c
0x04-more_functions_nested_loops/1-main.c
0x04-more_functions_nested_loops/2-main.c
0x04-more_functions_nested_loops/3-main.c
0x04-more_functions_nested_loops/4-main.c
0x04-more_functions_nested_loops/5-main.c
0x04-more_functions_nested_loops/6-main.c
0x04-more_functions_nested_loops/101-main.c
0x04-more_functions_nested_loops/7-main.c
0x04-more_functions_nested_loops/8-main.c
0x04-more_functions_nested_loops/10-main.c
0x05-pointers_arrays_strings/100-atoi
0x05-pointers_arrays_strings/100-main.c
0x02-functions_nested_loops/9-times_table.c
0x06-pointers_arrays_strings/0-main.c
0x06-pointers_arrays_strings/0-strcat
0x06-pointers_arrays_strings/1-main.c
0x06-pointers_arrays_strings/1-strncat
0x06-pointers_arrays_strings/2-main.c
0x06-pointers_arrays_strings/2-strncpy
0x06-pointers_arrays_strings/3-main.c
0x06-pointers_arrays_strings/3-strcmp
0x06-pointers_arrays_strings/3-strcmp.copy
0x06-pointers_arrays_strings/4-main.c
0x06-pointers_arrays_strings/4-rev_array
0x06-pointers_arrays_strings/5-main.c
0x06-pointers_arrays_strings/5-string_toupper
0x06-pointers_arrays_strings/6-main.c
0x06-pointers_arrays_strings/6-cap
0x06-pointers_arrays_strings/7-main.c
0x06-pointers_arrays_strings/7-1337
0x07-pointers_arrays_strings/0-main.c
0x07-pointers_arrays_strings/1-main.c
0x07-pointers_arrays_strings/2-main.c
0x07-pointers_arrays_strings/3-main.c
0x07-pointers_arrays_strings/4-main.c
0x07-pointers_arrays_strings/5-main.c
0x07-pointers_arrays_strings/7-main.c
0x07-pointers_arrays_strings/8-main.c
0x07-pointers_arrays_strings/0-memset
0x07-pointers_arrays_strings/1-memcpy
0x07-pointers_arrays_strings/2-strchr
0x07-pointers_arrays_strings/3-strspn
0x07-pointers_arrays_strings/4-strpbrk
0x07-pointers_arrays_strings/5-strstr
0x07-pointers_arrays_strings/7-print_chessboard
0x07-pointers_arrays_strings/8-print_diagsums
0x08-recursion/0-main.c
0x08-recursion/0-puts_recursion
0x08-recursion/1-main.c
0x08-recursion/1-print_rev_recursion
0x08-recursion/2-main.c
0x08-recursion/2-strlen_recursion
0x08-recursion/3-main.c
0x08-recursion/3-factorial
0x08-recursion/4-main.c
0x08-recursion/4-pow
0x08-recursion/5-main.c
0x08-recursion/5-sqrt
0x08-recursion/6-main.c
0x08-recursion/6-prime
0x0A-argc_argv/mynameis
0x0A-argc_argv/nargs
0x0A-argc_argv/args
0x0A-argc_argv/mul
0x0A-argc_argv/add
0x0A-argc_argv/change
0x0A-argc_argv/4-add.copy
0x0B-malloc_free/0-main.c
0x0B-malloc_free/a
